
h1 {
    color: white;
}
.bg-ground {
    background-image: url(https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/todolistbg.png);
    height: 100vh;
    background-size: cover;
}

.card {
    text-align: center;
    color: white;

}

.button {
    background-color: orange;
    border-radius: 3px;
    height: 7vh;
    width: 15vw;

    color: white;

}

.paragraph {
    text-decoration: underline;
}

.book {
    text-align: left;
}